.navbar {
  padding: 1.25rem;
  position: relative;
  box-shadow: 0px 10px 10px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.navbar a {
  padding: 0.25em;
}

.navbar a:hover {
  border-radius: 10px;
  background-color: var(--primary-accent-color);
  color: var(--background-color);
}

.hero {
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-image: url('https://assets.albiononline.com/uploads/media/default/media/a16098b4e57317ad97d1cac2f270dcb52a051ceb.jpeg');
  background-color: #c7c7c7;
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero h1 {
  font-size: 5rem;
}

.hero p {
  font-size: 2rem;
}

.main_functionality {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0px -10px 10px var(--background-color);
}

.main_functionality_card {
  min-width: 40%;
  min-height: 100%;
  border-radius: 10px;
  padding: 1.5rem;
  border: 0.25rem solid var(--border-color);
  box-shadow: 0px 5px 1px var(--text-color);
}

.main_functionality_card h2 {
  text-transform: capitalize;
  font-size: 1.75rem;
}

.main_functionality_card p {
  font-size: 1.15rem;
}

.server_time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.server_time h1 {
  font-size: 2.75rem;
}

.server_time p {
  font-size: 1.5rem;
}

@media(max-width: 1250px) {
  .navbar {
    font-size: 1.05rem;
  }
  
  .main_functionality_card h2 {
    font-size: 1.5rem;
  }

  .main_functionality_card p {
    font-size: 1rem;
  }
}

@media(max-width: 1080px) {
  .navbar {
    display: none;
  }

  .main_functionality {
    flex-direction: column;
  }

  .main_functionality_card {
    min-width: 55%;
  }

  .main_functionality_card h2 {
    font-size: 1.75rem;
  }

  .main_functionality_card p {
    font-size: 1.25rem;
  }
}

@media(max-width: 1000px) {
  .main_functionality_card h2 {
    text-align: center;
  }

  .main_functionality_card p {
    display: none;
  }

  .server_time h2 {
    font-size: 2rem;
  }

  .server_time p {
    font-size: 1.25rem;
  }
}

@media(max-width: 800px) {
  .hero h1 {
    font-size: 3.5rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .main_functionality_card h2 {
    font-size: 1.35rem;
  }

  .server_time h1 {
    font-size: 2.15rem;
  }

  .server_time p {
    font-size: 1rem;
  }
}

@media(max-width: 525px) {
  .hero h1 {
    font-size: 2.9rem;
  }

  .hero p {
    font-size: 1.15rem;
  }

  .main_functionality_card h2 {
    font-size: 1.15rem;
  }

  .server_time h1 {
    font-size: 1.75rem;
  }

  .server_time p {
    font-size: 0.8rem;
  }
}
