:root {
  --background-color: #f8f9fa;
  --primary-accent-color: #f79c42;
  --secondary-accent-color: #556b2f;
  --highlight-color: #ffd700;
  --text-color: #3d3d3d;
  --shadow-color: #dee2e6;
  --border-color: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  font-family: 'Roboto', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.5s;
  cursor: pointer;
}

a:hover {
  color: var(--primary-accent-color);
}

h1, h2, h3 {
  font-weight: 800;
}

.break {
  margin-bottom: 5rem;
}

.underline {
  text-decoration: underline;
}

.footer {
  padding: 1%;
  background-color: var(--text-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.footer_feedback {
  display: flex;
  align-self: stretch;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.footer_quick_access {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 800px) {
  .footer {
    font-size: 0.85rem;
  }
}
